# =========================
# PYTHON
# =========================
venv/
__pycache__/
*.pyc

# =========================
# NODE
# =========================
node_modules/
dist/

# =========================
# DATASETS
# =========================
data/raw/
data/processed/

# =========================
# MODEL FILES
# =========================
models/checkpoints/
*.pth

# =========================
# OUTPUTS
# =========================
outputs/
logs/

# =========================
# SYSTEM
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# ENV
# =========================
.env